body {
  width: 700px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  /*background-image: url(mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;*/
}


h1,h2,h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;

}

h1 {
  margin-top: 67px;
  font-size: 38px;
  line-height: 45px;
}

h1+p,
h1+blockquote{
  margin-top: 8px;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 32px;
  color: rgba(0,0,0,.4);

}
h1+p+p {
  margin-top: 33px;
}

p+p,
blockquote+blockquote {
  margin-top: 28px;
}

h2 {
  margin-top: 43px;
  font-size: 32px;
  line-height: 36px;
  color: rgba(0, 0, 0, .8);
}

h2+p ,
h2+ blockquote {
  margin-top: 7px
}

h3{
margin-top: 36px;
font-size: 28px;
line-height: 34px;
color: rgba(0, 0, 0, .8);
}

h3+p,
h3+blockquote {
margin-top: 6px;
}

p, li, ul, blockquote {
margin-top: 29px;
font-size: 20px;
line-height: 34px;
}

a{
  color: inherit;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;

}

a:visited{
  color: inherit;
}

li{
  list-style-type: disc;
  margin: 16px 0px 0px 28px;
}
li+li{
  margin-top: 14px;
}
