.postFeed{

  padding: 80px 0;
}

.postFeed figure{

  margin-bottom: 31px;
  width: 700px;
  height: 200px;
  /*background-image: url(images/narkomfin.jpg);*/
  background-size: cover;
  background-position: center;


}


  .postFeed p{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: rgba(0,0,0,.4);
    margin: 7px auto 10px;
  }

  .postFeed h2{
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 33px;
    margin-top: 10px;

  }



.feed{
  background-color: #FAFAFA;
}
.postFeed a{
  display: block;
  width: 740px;
  margin: 10px auto;
  margin: 10px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,10);



}

.feed.bg{

  background-size: 1440px 1507px;
  background-position: center -10px;
  background-image: url(../images/posts_mockup.png);
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,10);


}



.postFeed .postCard {
  display: block;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
  background-color: white;
}
