body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 768px;
}

* {
  box-sizing: border-box;
}

/* a:visited {
  color: inherit;
} */

.share {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
