.btn {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  text-decoration: none;
  font-family: 'PT Sans Caption', sans-serif;
}

.small {
  height: 40px;
  width: 250px;
  font-size: 15px;
  line-height: 40px;
}

.large {
  width: 300px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: bold;
}

.white {
  background-color: white;
  border-color: #cccccc;
  color: #666666;
}

.green {
  border-color: #00C000;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #2bd42b),color-stop(7%, #2bd42b),color-stop(95%, #01a401),to(#006900));
  background-image: linear-gradient(to bottom, #2bd42b 2%,#2bd42b 7%,#01a401 95%,#006900 100%);
}


@media all and (max-width: 1180px) and (min-width: 911px) {
  .small {
    height: 30px;
    width: 180px;
    font-size: 11px;
    line-height: 30px;
  }

  .large {
    width: 214px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;
  }
}
